{% extends 'food/base.html' %}

    {% block body %}

    {% for item in item_list %}

        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4">
                <h3> {{ item.item_name }} </h3>               
                <h5> {{ item.item_desc }} </h5>
                <h6>${{ item.item_prce}} </h6>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success ">Details</a>
            </div>
        </div>

    {% endfor%}
        
    {% endblock %}

